li {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  color: #212529;
}

a.currentPage,
a:not(.more):hover {
  background-color: #007acc;
  color: #fff;
  font-weight: 700;
}

a.more:hover,
a.currentPage {
  cursor: default;
  text-decoration: none;
}
