<nav aria-label="Page navigation example" class="mt-2">
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link"
        [disabled]="currentPage === 1"
        (click)="onFirst()"
      >
        First
      </button>
    </li>
    <li class="page-item">
      <button
        class="page-link"
        [disabled]="currentPage === 1"
        (click)="onPrevious()"
      >
        Previous
      </button>
    </li>

    <li class="page-item" *ngFor="let page of pages">
      <a
        class="page-link"
        tabindex="0"
        (click)="onGoTo(page)"
        [class.currentPage]="page === currentPage"
        >{{ page }}</a
      >
    </li>

    <li class="page-item">
      <button
        class="page-link"
        [disabled]="currentPage === totalPage"
        (click)="onNext()"
      >
        Next
      </button>
    </li>
    <li class="page-item">
      <button
        class="page-link"
        [disabled]="currentPage === 1"
        (click)="onLast()"
      >
        First
      </button>
    </li>
  </ul>
</nav>
