<div class="container mt-4">
  <h2>Danh sách sinh viên</h2>
  <!-- Heading -->
  <div class="d-sm-flex gap-2 justify-content-between">
    <div class="d-sm-flex align-items-center gap-4 col-xs-6">
      <div class="mb-3">
        <p class="mt-2">Trang hiện tại : {{ currentPage }}</p>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="currentPage"
          (keyup)="onChangeCurrentPage(currentPage)"
        />
      </div>
      <div class="d-flex gap-2 align-items-center">
        <p class="mt-2">Tổng số phần tử: {{ students.length | json }}</p>
        <select
          class="form-select form-select-sm"
          [(ngModel)]="students.length"
          (change)="onChangeTotalItem(students.length)"
        >
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <p class="mt-2">Số phần tử mỗi trang : {{ perPage | json }}</p>
        <select
          class="form-select form-select-sm"
          [(ngModel)]="perPage"
          (change)="onChangePerPage(perPage)"
        >
          <option [ngValue]="2">2</option>
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>
    </div>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      Thêm
    </button>
  </div>
  <!-- Table -->
  <!-- Pagination -->
  <app-pagination
    [currentPage]="currentPage"
    [totalPage]="totalPage"
    (goTo)="onGoTo($event)"
    (next)="onNext($event)"
    (previous)="onPrevious($event)"
  >
  </app-pagination>
  <!-- Add Modal -->
  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="addModallLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModallLabel">Thêm thông tin</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            novalidate
            #formAdd="ngForm"
            (ngSubmit)="onSubmit(formAdd.value)"
          >
            <div class="mb-3">
              <label for="fullName" class="form-label">Họ và tên</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="student.fullName"
                name="fullName"
                #fullName="ngModel"
                required
                minlength="6"
              />

              <div *ngIf="fullName.errors?.['required']" class="text-danger">
                Vui lòng nhập họ và tên
              </div>
              <div *ngIf="fullName.errors?.['minlength']" class="text-danger">
                Độ dài trên 6 kí tự
              </div>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Tuổi</label>
              <input
                type="number"
                class="form-control"
                id="age"
                [(ngModel)]="student.age"
                name="age"
                #age="ngModel"
                required
                min="1"
              />
              <div *ngIf="age.errors?.['required']" class="text-danger">
                Vui lòng nhập tuổi
              </div>
              <div *ngIf="age.errors?.['min']" class="text-danger">
                Tuổi được nhỏ hơn 1
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Giới tính</label>
              <div class="d-flex gap-2">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="male"
                    name="gender"
                    value="Nam"
                    [(ngModel)]="student.gender"
                    #gender="ngModel"
                    required
                  />
                  <label class="form-check-label" for="male"> Nam </label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="female"
                    name="gender"
                    value="Nữ"
                    [(ngModel)]="student.gender"
                    #gender="ngModel"
                    required
                  />
                  <label class="form-check-label" for="female"> Nữ </label>
                </div>
              </div>
              <div *ngIf="gender.errors?.['required']" class="text-danger">
                Vui lòng nhập giới tính
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Chuyên ngành</label>
              <select
                class="form-select"
                [(ngModel)]="student.major"
                name="major"
                #major="ngModel"
                required
              >
                <option selected>Chọn chuyên ngành</option>
                <option value="Lập trình web">Lập trình web</option>
                <option value="Marketing">Marketing</option>
                <option value="Thiết kế đồ họa">Thiết kế đồ họa</option>
              </select>
              <div *ngIf="major.errors?.['required']" class="text-danger">
                Vui lòng chọn chuyên ngành
              </div>
            </div>
            <div class="mb-3">
              <label for="avg" class="form-label">Điểm trung bình</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="student.avg"
                name="avg"
                #avg="ngModel"
                required
                min="1"
                max="10"
              />
              <div *ngIf="avg.errors?.['required']" class="text-danger">
                Vui lòng nhập điểm trung bình
              </div>
              <div *ngIfF="avg.errors?.['min']" class="text-danger">
                Điểm trung bình phải lớn hơn 1
              </div>
              <div *ngIf="avg.errors?.['max']" class="text-danger">
                Điểm trung bình phải nhỏ hơn 10
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!formAdd.form.valid"
            >
              Thêm sản phẩm
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
