<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h4>Danh sách sinh viên</h4>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      Thêm
    </button>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Tuổi</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Chuyên Ngành</th>
        <th scope="col">Điểm trung bình</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.fullName }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.major }}</td>
        <td>{{ student.avg }}</td>
        <td class="d-flex align-items-center gap-2">
          <a
            [routerLink]="[student.id, 'edit']"
            class="btn btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            >Sửa thông tin</a
          >
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
          >
            Xóa
          </button>
        </td>
        <!--Delete Modal -->
        <div
          class="modal fade"
          id="deleteModal"
          tabindex="-1"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa thông tin</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">Bạn có muốn xóa không ?</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Hủy
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onRemove(student.id)"
                >
                  Xóa
                </button>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
  <!-- Add Modal -->
  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="addModallLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModallLabel">Thêm thông tin</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ student | json }}
          <form
            novalidate
            #formAdd="ngForm"
            (ngSubmit)="onSubmit(formAdd.value)"
          >
            <div class="mb-3">
              <label for="fullName" class="form-label">Họ và tên</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="student.fullName"
                name="fullName"
                #fullName="ngModel"
                required
                minlength="6"
              />

              <div *ngIf="fullName.errors?.['required']" class="text-danger">
                Vui lòng nhập họ và tên
              </div>
              <div *ngIf="fullName.errors?.['minlength']" class="text-danger">
                Độ dài trên 6 kí tự
              </div>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Tuổi</label>
              <input
                type="number"
                class="form-control"
                id="age"
                [(ngModel)]="student.age"
                name="age"
                #age="ngModel"
                required
                min="1"
              />
              <div *ngIf="age.errors?.['required']" class="text-danger">
                Vui lòng nhập tuổi
              </div>
              <div *ngIf="age.errors?.['min']" class="text-danger">
                Tuổi được nhỏ hơn 1
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Giới tính</label>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="student.gender"
                name="gender"
                #gender="ngModel"
                required
              >
                <option selected>Chọn giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
              <div *ngIf="gender.errors?.['required']" class="text-danger">
                Vui lòng nhập giới tính
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Chuyên ngành</label>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="student.major"
                name="major"
                #major="ngModel"
                required
              >
                <option selected>Chọn chuyên ngành</option>
                <option value="Lập trình web">Lập trình web</option>
                <option value="Marketing">Marketing</option>
                <option value="Thiết kế đồ họa">Thiết kế đồ họa</option>
              </select>
              <div *ngIf="major.errors?.['required']" class="text-danger">
                Vui lòng chọn chuyên ngành
              </div>
            </div>
            <div class="mb-3">
              <label for="avg" class="form-label">Điểm trung bình</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="student.avg"
                name="avg"
                #avg="ngModel"
                required
                min="1"
              />
              <div *ngIf="avg.errors?.['required']" class="text-danger">
                Vui lòng nhập điểm trung bình
              </div>
              <div *ngIf="avg.errors?.['min']" class="text-danger">
                Điểm trung bình phải lớn hơn 1
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!formAdd.form.valid"
            >
              Thêm sản phẩm
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Modal -->
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModallLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModallLabel">Sửa thông tin</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ student | json }}
          <form
            novalidate
            #formAdd="ngForm"
            (ngSubmit)="onSubmit(formAdd.value)"
          >
            <div class="mb-3">
              <label for="fullName" class="form-label">Họ và tên</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="student.fullName"
                name="fullName"
                #fullName="ngModel"
                required
                minlength="6"
              />

              <div *ngIf="fullName.errors?.['required']" class="text-danger">
                Vui lòng nhập họ và tên
              </div>
              <div *ngIf="fullName.errors?.['minlength']" class="text-danger">
                Độ dài trên 6 kí tự
              </div>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Tuổi</label>
              <input
                type="number"
                class="form-control"
                id="age"
                [(ngModel)]="student.age"
                name="age"
                #age="ngModel"
                required
                min="1"
              />
              <div *ngIf="age.errors?.['required']" class="text-danger">
                Vui lòng nhập tuổi
              </div>
              <div *ngIf="age.errors?.['min']" class="text-danger">
                Tuổi được nhỏ hơn 1
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Giới tính</label>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="student.gender"
                name="gender"
                #gender="ngModel"
                required
              >
                <option selected>Chọn giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
              <div *ngIf="gender.errors?.['required']" class="text-danger">
                Vui lòng nhập giới tính
              </div>
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Chuyên ngành</label>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="student.major"
                name="major"
                #major="ngModel"
                required
              >
                <option selected>Chọn chuyên ngành</option>
                <option value="Lập trình web">Lập trình web</option>
                <option value="Marketing">Marketing</option>
                <option value="Thiết kế đồ họa">Thiết kế đồ họa</option>
              </select>
              <div *ngIf="major.errors?.['required']" class="text-danger">
                Vui lòng chọn chuyên ngành
              </div>
            </div>
            <div class="mb-3">
              <label for="avg" class="form-label">Điểm trung bình</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="student.avg"
                name="avg"
                #avg="ngModel"
                required
                min="1"
              />
              <div *ngIf="avg.errors?.['required']" class="text-danger">
                Vui lòng nhập điểm trung bình
              </div>
              <div *ngIf="avg.errors?.['min']" class="text-danger">
                Điểm trung bình phải lớn hơn 1
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!formAdd.form.valid"
            >
              Thêm sản phẩm
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
